<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OwlMemo 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OwlMemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OwlMemoUITest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0086FCDE22EC5F2B00E0402A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B059C222D59636006C7F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B059D622D59638006C7F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B059E122D59638006C7F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
